Package        Version
-------------- -----------
beautifulsoup4 4.11.1
html5lib       1.1
pip            22.2.2
setuptools     63.4.2
six            1.16.0
soupsieve      2.3.2.post1
webencodings   0.5.1
